---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import astronautImage from "~/assets/astronaut.png";
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";
import GitHubCorner from "./github-corner.astro";
import moonImage from "~/assets/logo.png";
import backgroundVideo  from "../assets/word.mp4";


const widths = [450, 800];
const sizes = "(min-width: 640px) 30vw, 57vw";

---

<section class="relative h-full bg-black">
  <div id="background-video" class="relative h-full bg-black">
    <video autoplay muted loop class="absolute inset-0 w-full h-full object-cover">
      <source src={backgroundVideo} type="video/mp4" />
    </video>
  <!-- <Starfield /> -->

  <!-- <GitHubCorner /> -->
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative grid h-full place-items-center sm:grid-cols-2">
    <h2
      class="flex flex-col gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <!-- <Icon name="logomark"  class="h-24 text-white md:h-32" /> -->

      <div
        class="text-white text-center font-extrabold tracking-tighter text-8xl"
        id=""
      >
        VARTIX AEROSPACE
      
      </div>
    </h2>
    <div
      id="astronaut"
      class="w-2/3 max-w-3xl self-start sm:w-10/12 sm:self-auto sm:justify-self-start"
    >
      <Picture
        class="h-full w-full object-cover"
        src={moonImage}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="A floating astronaut in a space suit"
      />
    </div>
  </div>
</div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
